.b-inner-data {
    margin-bottom: 40px;
    .inner-data__title {
        font-size: 30px;
        font-weight: 700;
        line-height: 1.5;
        color: #444444;
        text-align: center;
        margin: 35px 0;
    }
    .inner-data__list {
        margin-left: 40px;
    }
    .inner-data__list li {
        padding: 10px 0;
        border-radius: 10px;
        text-align: center;
    }
    .inner-data__list li:nth-of-type(2n) {
        background-color: #444;
        color: #fff;
    }
    .inner-data__list li:nth-of-type(2n+1) {
        background-color: #777;
        color: #fff;
    }
    .inner-data__buttons {
        text-align: center;
        margin-bottom: 20px;

        button {
            width: 120px;
            height: 40px;
            border: 2px solid #444;
            cursor: pointer;
            border-radius: 6px;
            font-size: 16px;
        }
        button:not(:last-child) {
            border-right: none;
        }
        button:hover {
            background-color: #fff;
        }
    }
}